/* Main Projects Section Styling */
.projects-section {
    font-size: 2em;
    padding: 90px 200px;
    background-color: #fff;
  }
  
  /* Title and Paragraph Container */
  .title-container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
  }
  
  .upcoming {
    color: #1a1919;
    font-size:70px ;
  }
  
  .projects {
    color: #1a1919;
    font-size:70px ;
  }
  
  /* Updated Paragraph Container */
  .title-paragraph1  {
    font-size: 0.6em;
    line-height: 1.2;
    color: #111010;
    max-width: 600px;
    margin-left: 160px;
    gap: 10px;
    line-height: 1.5;
    margin-top: 70px;
  }
  .title-paragraph2 {
    font-size: 0.6em;
    line-height: 1.2;
    color: #0a0a0a;
    width: 600px;
    margin-left: 160px;
    gap: -10px;
    line-height: 1.5;

  }
  
  /* Projects List */
  .projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    color: rgb(68, 90, 129);
  }
  
  .project-item {
    padding: 13px;
    font-size: 0.7em;
    font-weight: bold;
    color: #417992;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Align items at the start */
    align-items: start;
  }
  
  .project-title {
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.1;
    text-align: left;
    margin-bottom: 10px; /* Add space below title */
  }

  
  /* Specific Spacing for Project Items to Adjust Consistency */
  .project-item .description-heading {
    margin-top: 10px; /* Space above the region label */
    margin-bottom: 15px; /* Space below the region label */
  }
  
  
  /* Specific Spacing Adjustment for Project Item 2 */
  .project-item:nth-child(2) .description-heading {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .project-description {
    font-size: 0.8em;
    line-height: 1.2;
    color: #111010;
    gap: 10px;
    line-height: 1.5;
    margin-top: 70px;
  }
  .special-heading {
    margin-top: -700px;
    top: 30px;
    
  }